/*@import url('https://fonts.googleapis.com/css?family=Raleway+Dots,Raleway');*/
/*@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,500i,700,700i');

body,html,#root {
	height: 100%;
}

.App {
	font-family: "Montserrat", sans-serif;
	background: linear-gradient(#6ca9d0, #d2f4f9);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	height: 100%;
	animation: huehue 5s 1;
}

@keyframes huehue {
	0% {
		filter: hue-rotate(20deg);
	}
	100% {
		filter: hue-rotate(0deg);
	}
}

.card {
	max-width: 100%;
	width: 700px;
	max-width: 90%;
	border-radius: 3px;
	/*background: white;*/
	padding: 1rem;
	box-sizing: border-box;
}

.header .card-number {
	color: rgba(255,255,255,.3);

	font-weight: 100;
	padding-top: 7px;
}
.header {
	padding-top: 3px;
	display:flex;
	text-align: center;
	color: #fff;
	justify-content: space-between;
	position: relative;
	width: 90%;
}

.search-results.visible {
	display: block;
}

.search-results {
	display: none;
	position: absolute;
	width: 100%;
	left: 0;
	background: #d2f4f9;
    z-index: 50;
    top: 100%;
    max-height: 40vh;
    overflow: auto;
    /*box-shadow: 3px 3px 10px rgba(0,0,0,.1);*/
}

.search-results ul {
	list-style-type: none;
	text-align: left;
	color: #333;
	padding: 0;
	margin: 0;
}

.search-results ul li:hover {
	background: #d2f4f9;
	cursor: pointer;
}

.search-results ul li p {
	margin: .5em 0 .5em;
}

.search-results ul li {
	/*white-space: pre;*/
	padding: 0 1em;
	max-width: 100%;
	overflow: hidden;
	transition: background 100ms;
	margin:0;
	position: relative;
}

.search-results ul li.active {
	color: #444;
	cursor: default;
}
.search-results ul li.active:hover {
	/*background: none;*/
}

.search-results ul li .overlay {
	position: absolute;
	left:0; top: 0; right: 0; bottom: 0;
	/*background: linear-gradient(to right, transparent 95%, white 100%);*/
	pointer-events: none;

}

.search .search-icon {
	color: rgba(255,255,255,.5);
    position: absolute;
    top: 7px;
    left: 7px;
}
.search {
	/*flex: 0 1;*/
	text-align: left;
	position: relative;
	width: 50%;
	z-index: 10;
}

.search-box {
    font-size: 1rem;
    border: none;
    outline: none;
    padding: .3em 0 .3em 30px;
    width: 100%;
    box-sizing: border-box;
    background: transparent;
	background: rgba(255,255,255,.1);
	border: 1px solid rgba(255,255,255,.2);
    color: white;
}

.card .main strong{
	font-weight: 700;
}

.card .main {
	position: relative;
	font-size: 4rem;
	margin: 3rem auto;
	text-align: center;
	color: #fff;
	text-shadow: .05em .05em 0 rgba(100,100,200,.25);
	font-weight: 500;
}
.card .main p {
	margin: 0 1em;
}
.card .main ul {
	list-style-type: circle;
	list-style-position: inside;
}

.card .main .overlay {
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	/*background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,.1),rgba(255,255,255,0))*/
}

button:after {
	position: absolute;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	/*padding: 30vh 0;*/
	content: ' ';
	top: 50%;
	margin-top: -5px;
	opacity: .33;
}
button.new:hover{
	background: linear-gradient(90deg, transparent, rgba(255,255,255,.1));
}
button.last:hover{
	background: linear-gradient(270deg, transparent, rgba(255,255,255,.1));
}
button:hover:after{
	opacity: 1;
}
button {
	position: relative;
	text-transform: uppercase;
	box-shadow: none;
	border: 0;
	color: white;
	font-size: 1rem;
	margin: 0;
	padding: 0;
	cursor: pointer;
	outline:none;
	background: transparent;
	position: fixed;
	height: 100vh;
	max-width: 10vw;
	width: 100%;
	left: 0;
	/*margin-top: 30vh;*/
	top: 0;
}

footer {
	display: flex;
	padding-bottom: 1rem;
	text-align: center;
	letter-spacing: 1em;
	color: rgba(255,255,255,.6);
}
footer:hover{
	color: rgba(255,255,255,.75);
}

button.new:after {
	right: 0;
	border-left: 20px solid white;
}
button.new {
	right: 0;
	left: auto;
}

button.last:after {
	left: 0;
	border-right: 20px solid white;
}
button.last {
}

@media screen and (max-width: 768px){
	.card {
		width: 90%;
	}
	.card .header {
		font-size: 3vw;
	}
	.card .main{
		font-size: 8vw;
	}
	footer {
		font-size: .75rem;
	}

}
@media screen and (max-width: 480px){
	footer {
		font-size: .5rem;
	}

}